{% extends "onshop_auto/conciliar_comanda.html" %}


              {% block 'area_form' %}
              <form role="form" id="templatemo-preferences-form" method="post" enctype="multipart/form-data">
                <div class="row">
                  <div class="col-md-6 margin-bottom-15">
                    {{ form.forma }}
                    {{ form.forma.errors }}
                  </div>
                  <div class="col-md-6 margin-bottom-15">
                    {{ form.valor_pago }}
                    {{ form.valor_pago.errors }}
                  </div>
                </div>
                    
                  {% csrf_token %}
                <div class="row templatemo-form-buttons">
                  <div class="col-md-12">
                    <button type="submit" class="btn btn-primary">Salvar</button>
                    <button type="reset" class="btn btn-default">Limpar</button>
                  </div>
                </div>
              </form>
              {% endblock 'area_form' %}
  