@import url( 'https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700');
@import "reset";

* {
    box-sizing: border-box;

}

body{
  font-family: 'Roboto', sans-serif;
  background: #edebeb;
}

#cab h1{
    color: green;
}

#periodo{
    position: absolute;
    margin-left: 420px;
    margin-top: -40px;
}


#periodo-rel-prod{
    position: absolute;
    margin-left: 250px;
    margin-top: -40px;
}

#menuLateral{
    background: #302D43;
    width: 260px;
    height: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
    height: 2300px;
}

#menuLateral nav{
    padding-top: 100px;
}

#menuLateral img{
    margin-top: 20px;
    position: absolute;
    margin-left: 35px;
}

#menuLateral nav a{
    display: block;
    color: grey;
    text-decoration: none;
    padding: 15px 30px;
    font-weight: 300;
    transition: all 0.3s ease-in-out;
}

#menuLateral nav a:hover{
    background: #282639;
    border-left: 5px solid green;
    padding: 15px 30px 15px 25px;
    color: white;
}

#menuLateral nav a:hover .fas{
    transition: all 0.3s ease-in-out;
    color: green;
}

#menuLateral nav a .fas{
    color: white;
    font-size: 1.2rem;
    margin-right: 0.8rem;
    display: inline-block;
    width: 30px;
    position: relative;
    top: 2px;
}

#menuLateral nav a.active{
    transition: all 0.3s ease-in-out;
    color: white;
    background: #282639;
    border-left: 5px solid green;
    padding: 15px 30px 15px 25px;
}

#menuLateral nav a.active .fas{
    color: green;
}

header{
    margin-left: 260px;
    padding:15px 15px;
    background: #FFF;
    height: 70px;
}

header .hora-area{
    margin-top: 10px;
    display: inline-block;
    width: 50%;
}

header .hora-area h7{
    background: transparent;
    width: 50%;
    font-size: 1rem;
    padding: 10px;
    font-weight: 100px;
    position: relative;
    color: grey;
}

header .user-area{
    display: inline-block;
    float: right;
    padding: 10px;

}

header .user-area a{
    display: inline-block;
    padding-right: 30px;
    text-decoration: none;
}

header .user-area a .notification{
    position: relative;
}

header .user-area a .circle{
    background: red;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    display: inline-block;
    font-size: 12px;
    color: white;
    text-align: center;
    position: absolute;
    margin-top: -5px;
    margin-left: -6px;
}

header .user-area .fas{
    font-size: 1.3rem;
}

header .user-name{
    display: inline-block;
    margin-right: 10px;
}

header .user-area .seta{
    font-size: 1rem;
}

header .search-area .lupa{
    font-size: 1.2rem;
    display: inline-block;
    position: relative;
    float: left;
    padding-right: 5px;
    padding-top: 5px;
}

.input-group-prepend{
    display: inline-block;
    position: relative;
    float: left;
}
.form-control{
    display: inline-block;
    position: relative;
    float: left;
}

.search-area .form-control{
    font-size: 0.8rem;
}

.input-group-append{
    display: inline-block;
    position: relative;
    float: left;
}

.input-group-append .btn{
    font-size: 0.8rem;
}

#cardClientes{
    width: 200px;
    height: 140px;
    margin-top: 30px;
    margin-left: 300px;
    background: white;
}

#cardClientes span{
    font-size: 0.8rem;
    padding-left: 20px;
    color: green;
}

#cardClientes h3{
    padding-top: 5px;
    padding-left: 20px;
}

#cardClientes h6{
    padding-top: 10px;
    color: grey;
    padding-left: 20px;
}

#cardClientes .card{
    width: 35px;
    height: 35px;
    text-align: center;
    position: absolute;
    margin-top: -70px;
    margin-left: 150px;
    background: #7dd2db;
    border: none;
}

#cardClientes .card i{
    margin-top: 10px;
    color: #225799;
}

#cardClientes .legenda{
    font-size: 0.8rem;
    color: grey;
    padding-left: 20px;
}

#cardPedidos{
    width: 200px;
    height: 140px;
    margin-top: -140px;
    margin-left: 520px;
    background: white;
    position: absolute;
}

#cardPedidos span{
    font-size: 0.8rem;
    padding-left: 20px;
    color: green;
}

#cardPedidos h3{
    padding-top:5px;
    padding-left: 20px;
}

#cardPedidos h6{
    padding-top: 10px;
    color: grey;
    padding-left: 20px;
}

#cardPedidos .card{
    width: 35px;
    height: 35px;
    text-align: center;
    position: absolute;
    margin-top: -70px;
    margin-left: 150px;
    background: #7dd2db;
    border: none;
}

#cardPedidos .card i{
    margin-top: 10px;
    color: #225799;
}

#cardPedidos .legenda{
    font-size: 0.8rem;
    color: grey;
    padding-left: 20px;
}

.titulo{
    margin-left: 40px;
    margin-top: 40px;
}

.a-card a div:hover{
    text-decoration: none;
}

.accordion {
    margin-left: 30px;
    margin-top: 30px;
    width: 90%;
}